.paddle {
    width: 25px;
    height: 100px;
    background-color: rebeccapurple;
    border-radius: 4px;
    position: absolute;

    left: 20px;
    top: 50%;
    transform: translatey(-50%);
  }

  .player2 {
    background-color: blue;
    right: 20px;
    left: auto;
    position: absolute;

  } 